<h1><%= @dog.name %>...</h1>

<h3>...says: <%= @dog.speak %></h3>

<div>
  <span style="display: block;">
    Back to all the named <a href="/dogs">dogs</a>.
  </span>
  <span style="display: block;">
    See all the named <a href="/cats">cats</a>.
  </span>
</div>

<div style="padding: 20px 0px;">
  <span style="display: block;">
    Name another <a href="/dogs/new">dog</a>.
  </span>
  <span style="display: block;">
    Name a <a href="/cats/new">cat</a>.
  </span>
</div>

<a href="/">Home</a>
