<h1>All The Named Dogs:</h1>

<% if @dogs.empty? %>
  <span style="font-size: 20px;">
    There aren't any named dogs yet!
  </span>

  <div style="padding-top: 20px;">
    Name a <a href="/dogs/new">dog</a>.
  </div>
<% else %>
  <ul>
    <% @dogs.each do |dog| %>
      <li>
        <a href="/dogs/<%= dog.id %>">
          <b><%= dog.name %></b></a>
        says, "<%= dog.speak %>"
      </li>
    <% end %>
  </ul>

  <div style="padding-top: 20px;">
    Name another <a href="/dogs/new">dog</a>.
  </div>
<% end %>

<div>
  Name a <a href="/cats/new">cat</a>.
</div>
<div style="padding-top: 15px;">
  <a href="/">Home</a>
</div>
