<h1>Add A Dog!</h1>

<form action="/dogs" method="post">
  <label>
    Name
    <input type="text" name="dog[name]" value="" autofocus="autofocus">
    <input type="hidden" name="dog[id]" value="<%= @dog.id %>">
  </label>

  <button>Add Dog</button>
</form>

<div style="padding: 10px 0px;">
  Changed your mind?
  <a href="/cats/new">Add a Cat!</a>
</div>

<div>
  <span style="display: block;">
    See all the named <a href="/dogs">dogs</a>.
  </span>
  <span style="display: block;">
    See all the named <a href="/cats">cats</a>.
  </span>
</div>

<div style="padding-top: 10px;">
  <a href="/">Home</a>
</div>
