<h1>Add A Dog!</h1>

<form action="/dogs" method="post">
  <label>
    Name
    <input type="text" name="dog[name]" value="">
  </label>

  <button>Add Dog</button>
</form>

<div style="padding: 10px 0px;">
  Changed your mind?
  <a href="/cats/new">Add a Cat!</a>
</div>

<div>
  <a href="/">Home</a>
</div>
