<h1>Add A Cat!</h1>

<form action="/cats" method="post">
  <label>
    Name
    <input type="text" name="cat[name]" value="">
  </label>

  <button>Add Cat</button>
</form>

<div style="padding: 10px 0px;">
  Changed your mind?
  <a href="/dogs/new">Add a Dog!</a>
</div>

<div>
  <a href="/">Home</a>
</div>
